<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <h1>ghjkl;</h1>
    <!-- {% for post in posts%}
    <p>{{post.title}}</p>
    {%if post.content%}
    <p>{{post.content}}</p>
    {% else%}
    {%if post.image%}
    <img src="{{post.image.url}}" alt="">
    {% else%}
    <p>No snipet code</p>
    {%endif%}
    {%endif%}
    {%endfor%} -->
</body>

</html>